@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
.scroll-hidden::-webkit-scrollbar {
  display: none;
}

body {
  padding: 55px 0 0 0;
  overflow-x: hidden;
  background: #eee;
}
body.no-scroll {
  overflow-y: hidden !important;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

header {
  width: 100%;
  height: 55px;
  line-height: 55px;
  position: fixed;
  top: -5vw;
  z-index: 99;
  background: #eee;
  border: 1px solid #000;
  border-left: 0;
  border-right: 0;
  -webkit-transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}
header .header_inner {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .header_inner > div {
  line-height: 1;
}
header .header_inner .fir {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding: 0 10px 0px 10px;
  background: #000;
}
header .header_inner .fir p, header .header_inner .fir span {
  font-size: 1.05vw;
  font-weight: 500;
  font-family: "Oswald", sans-serif;
  color: #fff;
}
header .header_inner .fir p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header_inner .fir p:first-child {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .header_inner .fir p:last-child {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header_inner .fir p:last-child span {
  width: 60px;
  height: 16px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border: 2px solid #fff;
  border-right: 0;
}
header .header_inner .fir p:last-child span::before {
  content: "";
  width: 15px;
  height: 2px;
  position: absolute;
  background-color: #fff;
}
header .header_inner .info_comm p, header .header_inner .info_comm span {
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  letter-spacing: -1px;
}
header .header_inner .info_comm span {
  font-size: 0.7vw;
  color: #487C20;
}
header .header_inner .info_comm p {
  padding: 5px 0 0 0;
  font-size: 0.92vw;
}
header .header_inner .last {
  font-size: 0.85vw;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  color: #000;
  letter-spacing: -1px;
}
header.load_ani {
  top: 0;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}
header.no-exposure {
  top: -5vw;
}

.footer-section {
  width: 100%;
  height: 55px;
  line-height: 55px;
  position: fixed;
  bottom: -5vw;
  background: #eee;
  border: 1px solid #000;
  border-left: 0;
  border-right: 0;
  -webkit-transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.footer-section .footer-inner {
  padding: 0 0 0 1vw;
}
.footer-section .footer-inner .fir {
  font-size: 0.85vw;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  color: #000;
  letter-spacing: -1px;
}
.footer-section.load_ani {
  bottom: 0;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}
.footer-section.no-exposure {
  bottom: -5vw;
}

.area01 {
  position: relative;
}
.area01 .circle-wrap.float {
  width: 100%;
  position: sticky;
  top: -100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.area01 .circle-wrap.float .circle {
  width: 37vw;
  height: 37vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #000;
  border-radius: 50%;
}
.area01 .circle-wrap.float .circle span {
  width: 0.81vw;
  height: 0.81vw;
  display: block;
  background: #fff;
  border-radius: 50%;
}
.area01 .circle-wrap.float .line-circle-wrap {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.area01 .circle-wrap.float .line-circle-wrap > div {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.area01 .circle-wrap.float .line-circle-wrap .line-circle-basic {
  opacity: 0.15;
  background: url(./img/Ellipse6.svg) center no-repeat;
  background-size: 80%;
}
.area01 .circle-wrap.float .line-circle-wrap .line-circle-overlay {
  opacity: 1;
  mix-blend-mode: overlay;
  background: url(./img/Ellipse6.svg) center no-repeat;
  background-size: 80%;
}
.area01 .circle-wrap.float .line-circle-wrap .line-circle-exposure {
  z-index: -1;
  background: #eee;
}
.area01 .circle-wrap.float.sticky {
  height: 100vh;
  top: 0;
  opacity: 1;
  visibility: visible;
}

/*** 섹션01 시작 ***/
.section01 {
  height: calc(100vh - 110px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 1vw 1.5vw 1vw 1.5vw;
}
.section01 .circle {
  width: 40.366vw;
  height: 40.366vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #000;
  border-radius: 50%;
}
.section01 .circle span {
  width: 0.81vw;
  height: 0.81vw;
  display: block;
  background: #fff;
  border-radius: 50%;
}
.section01 .sc01_div {
  width: 48vw;
  /*flex:1;*/
}
.section01 .sc01_comm h1 {
  line-height: 0.9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  mix-blend-mode: difference;
  font-size: 9.688vw;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
  color: #fff;
}
.section01 .sc01_comm h1 span {
  display: block;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all 0.9s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.9s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.section01 .sc01_comm h1 span:nth-child(0) {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.section01 .sc01_comm h1 span:nth-child(1) {
  -webkit-transition-delay: 0.05s;
          transition-delay: 0.05s;
}
.section01 .sc01_comm h1 span:nth-child(2) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}
.section01 .sc01_comm h1 span:nth-child(3) {
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}
.section01 .sc01_comm h1 span:nth-child(4) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.section01 .sc01_comm h1 span:nth-child(5) {
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}
.section01 .sc01_comm h1 span:nth-child(6) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
.section01 .sc01_comm h1 span:nth-child(7) {
  -webkit-transition-delay: 0.35s;
          transition-delay: 0.35s;
}
.section01 .sc01_comm h1 span:nth-child(8) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.section01 .sc01_comm h1 span:nth-child(9) {
  -webkit-transition-delay: 0.45s;
          transition-delay: 0.45s;
}
.section01 .sc01_comm h1 span:nth-child(10) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}
.section01 .menu-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin: 4.6vw 0 0 0;
}
.section01 .menu-box li {
  position: relative;
  padding: 10px 0;
  counter-increment: li-counter;
  border-bottom: 1px solid #000;
}
.section01 .menu-box li a {
  font-size: 1.3vw;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  color: #000;
  letter-spacing: -1px;
}
.section01 .menu-box li::before {
  content: counter(li-counter, decimal-leading-zero);
  margin-right: 15px;
  font-size: 1.3vw;
  font-weight: 400;
  font-family: inherit;
  color: #000;
  letter-spacing: -1px;
}
.section01 .menu-box li:first-child, .section01 .menu-box li:nth-child(2) {
  width: calc(100% - 395px);
}
.section01 .menu-box li:nth-child(3) {
  width: calc(100% - 385px);
}
.section01 .menu-box li:last-child {
  width: calc(100% - 355px);
}
.section01 .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.section01 .right h1 {
  -webkit-transform: scale(-1);
          transform: scale(-1);
}
.section01.load_ani .sc01_comm h1 span {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

/*** 섹션01 끝 ***/
/*** 섹션02 시작 ***/
.section02 {
  height: calc(100vh - 55px);
  overflow: hidden;
  height: 150vh;
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.section02-inner {
  height: 100%;
}
.section02-inner .RL-comm {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background: #000;
}
.section02-inner .RL-comm-inner {
  height: 100%;
}
.section02-inner .RL-comm-inner h1 {
  height: auto;
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  will-change: transform;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  white-space: nowrap;
  font-size: 18vw;
  font-weight: 600;
  font-family: "Oswald", sans-serif;
  color: #eee;
  letter-spacing: -0.7vw;
}
.section02-inner .RL-comm-inner h1 span {
  display: block;
}
.section02-inner .RL-comm.L-scroll h1 {
  padding: 0 0 1.5vw 0;
  background: #000;
  color: #487C20;
}
.section02-inner .RL-comm.R-scroll {
  background: #eee;
}
.section02-inner .RL-comm.R-scroll h1 {
  -webkit-transform: translateY(-50%) scale(-1);
          transform: translateY(-50%) scale(-1);
  padding: 0 0 1vw 0;
  -webkit-text-stroke: 1px #000;
}
.section02-inner .RL-comm.R-scroll h1 {
  margin-left: -13vw;
}
.section02.load_ani {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
}

/*** 섹션02 끝 ***/
/*** 섹션03 시작 ***/
.section03 {
  height: 790vh;
  position: relative;
  padding: 30vw 0 0 0;
  -webkit-transition: border 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: border 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.section03-inner {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.section03-inner > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  mix-blend-mode: difference;
  color: #eee;
}
.section03-inner > div .txt-wrap {
  height: 140vh;
  position: sticky;
  top: 0;
}
.section03-inner > div .txt-wrap .txt-inner {
  height: 100%;
}
.section03-inner > div .txt-wrap .txt-inner h5 {
  line-height: 1.3;
  font-size: 1.5vw;
  font-weight: 500;
  font-family: "Oswald", sans-serif;
}
.section03-inner > div .txt-wrap.sc01-txt-wrap__1 {
  margin: 0 auto;
  margin-left: -0.5vw;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
}
.section03-inner > div .txt-wrap.sc01-txt-wrap__1 .txt-inner {
  height: calc(100% - 146px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.3vw 0 0 0;
  font-size: 6vw;
  font-weight: 700;
  font-family: "Oswald", sans-serif;
}
.section03-inner > div .txt-wrap.sc01-txt-wrap__1 .txt-inner .line {
  width: 0.7vw;
  margin: 1vw 0.5vw 1vw 0;
  background: #eee;
}
.section03-inner > div .txt-wrap.sc01-txt-wrap__2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 11.5vw;
}
.section03-inner > div .txt-wrap.sc01-txt-wrap__2 .txt-inner {
  text-transform: uppercase;
}
.section03-inner > div .txt-wrap.sc01-txt-wrap__2 .txt-inner h1 {
  line-height: 1;
  font-size: 11.5vw;
  font-weight: 700;
  font-family: "Oswald", sans-serif;
  line-height: 0.83;
}
.section03-inner > div .txt-wrap.sc01-txt-wrap__3 {
  margin: 0 auto;
  margin-right: 0;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
}
.section03-inner > div .txt-wrap.sc01-txt-wrap__3 .txt-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
}
.section03-inner > div .txt-wrap.sc01-txt-wrap__3 .txt-inner h1 {
  line-height: 1;
  font-size: 11.5vw;
  font-weight: 700;
  font-family: "Oswald", sans-serif;
}
.section03-inner > div .txt-wrap.sc01-txt-wrap__3 .txt-inner .x {
  width: 4vw;
  height: 4vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.section03-inner > div .txt-wrap.sc01-txt-wrap__3 .txt-inner .x span {
  width: 100%;
  height: 0.87vw;
  display: block;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  background: #487C20;
}
.section03-inner > div .txt-wrap.sc01-txt-wrap__3 .txt-inner .x span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.section03-inner > div .txt-wrap.sc01-txt-wrap__4 {
  top: 0.5vw;
}
.section03-inner > div .txt-wrap.sc01-txt-wrap__5 .txt-inner {
  height: calc(100vh - 26px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}
.section03.border {
  border: 3vw solid #487C20;
  border-top: 0;
}

/*** 섹션03 끝 ***/
/*** 섹션04 시작 ***/
.section04 {
  padding: 1.5vw 3vw;
  background: #487C20;
  border-top: 1px solid #000;
}
.section04-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section04-inner .left-column ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 0.3vw;
}
.section04-inner .left-column ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  counter-increment: li-counter;
}
.section04-inner .left-column ul li span {
  width: 10vw;
  display: block;
  font-size: 0.84vw;
  font-weight: 700;
  font-family: "Oswald", sans-serif;
  color: #000;
}
.section04-inner .left-column ul li p {
  width: calc(100% - 10vw);
  font-size: 0.84vw;
  font-weight: 400;
  font-family: "Noto Sans KR", sans-serif;
  color: #000;
  letter-spacing: -0.5px;
}
.section04-inner .left-column ul li::before {
  content: counter(li-counter, decimal-leading-zero);
  width: 1.3vw;
  height: 1.3vw;
  line-height: 1.3vw;
  margin: 0 0.5vw 0 0;
  font-size: 0.7vw;
  font-weight: 500;
  font-family: "Oswald", sans-serif;
  color: #eee;
  background: #000;
  border-radius: 50%;
  text-align: center;
}
.section04-inner .right-column .circle-wrap {
  display: -webkit-box;
}
.section04-inner .right-column .circle-wrap .circle {
  width: 5vw;
  height: 5vw;
  display: -webkit-box;
  border: 1px solid #000;
  border-radius: 50%;
}
.section04-inner .right-column .circle-wrap .circle.tall {
  width: 12.5vw;
  border-radius: 3vw;
}
.section04-inner .right-column .txt-wrap h1 {
  line-height: 1;
  font-size: 11.5vw;
  font-weight: 700;
  font-family: "Oswald", sans-serif;
  font-size: 7.4vw;
  text-transform: uppercase;
}

/*** 섹션04 끝 ***/
/*** 섹션05 시작 ***/
.section05 {
  height: calc(100vh - 55px);
  overflow: hidden;
}
.section05-inner {
  height: 100%;
}
.section05-inner .RL-comm {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background: #000;
}
.section05-inner .RL-comm-inner {
  height: 100%;
}
.section05-inner .RL-comm-inner h1 {
  height: auto;
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  will-change: transform;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  white-space: nowrap;
  font-size: 18vw;
  font-weight: 600;
  font-family: "Oswald", sans-serif;
  color: #eee;
  letter-spacing: -0.7vw;
}
.section05-inner .RL-comm-inner h1 span {
  display: block;
}
.section05-inner .RL-comm.L-scroll h1 {
  padding: 0 0 1.5vw 0;
  background: #000;
  color: #487C20;
}
.section05-inner .RL-comm.R-scroll {
  background: #eee;
}
.section05-inner .RL-comm.R-scroll h1 {
  -webkit-transform: translateY(-50%) scale(-1);
          transform: translateY(-50%) scale(-1);
  padding: 0 0 1vw 0;
  -webkit-text-stroke: 1px #000;
}
.section05-inner .R-scroll h1 {
  margin-left: -60vw;
}

/*** 섹션05 끝 ***/
/*** 섹션06 시작 ***/
.section06 {
  position: relative;
  padding: 0 0 60vw 0;
  background: #000;
}
.section06 .work-img-container {
  height: 100vh;
  position: sticky;
  top: 0;
  opacity: 0;
  visibility: hidden;
}
.section06 .work-img-container .work-img-wrap {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.section06 .work-img-container .work-img-wrap .work-img-slide {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-filter: brightness(0.3);
          filter: brightness(0.3);
}
.section06 .work-img-container .work-img-wrap .work-img-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section06 .work-img-container .work-img-wrap .work-img-slide:nth-child(0) {
  z-index: 0;
}
.section06 .work-img-container .work-img-wrap .work-img-slide:nth-child(1) {
  z-index: 1;
}
.section06 .work-img-container .work-img-wrap .work-img-slide:nth-child(2) {
  z-index: 2;
}
.section06 .work-img-container .work-img-wrap .work-img-slide:nth-child(3) {
  z-index: 3;
}
.section06 .work-img-container .work-img-wrap .work-img-slide:nth-child(4) {
  z-index: 4;
}
.section06 .work-img-container .work-img-wrap .work-img-slide:nth-child(5) {
  z-index: 5;
}
.section06 .work-img-container .work-img-wrap .work-img-slide:nth-child(6) {
  z-index: 6;
}
.section06 .work-img-container .work-img-wrap .work-img-slide:nth-child(7) {
  z-index: 7;
}
.section06 .work-img-container .work-img-wrap .work-img-slide:nth-child(8) {
  z-index: 8;
}
.section06 .work-img-container .work-img-wrap .work-img-slide:nth-child(9) {
  z-index: 9;
}
.section06 .work-img-container .work-img-wrap .work-img-slide:nth-child(10) {
  z-index: 10;
}
.section06-inner {
  padding: 0 0 0 6vw;
}
.section06-inner ul li {
  position: relative;
  padding: 2vw 0;
  counter-increment: li-counter;
  font-size: 8vw;
  font-weight: 300;
  font-family: "Noto Sans KR", sans-serif;
  color: #eee;
  border-bottom: 1px solid #eee;
}
.section06-inner ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  font-size: 8vw;
  font-weight: 300;
  font-family: "Noto Sans KR", sans-serif;
  color: #eee;
}
.section06-inner ul li h1 {
  line-height: 1;
  font-size: 8vw;
  font-weight: 300;
  font-family: "Noto Sans KR", sans-serif;
  color: #eee;
}
.section06-inner ul li p {
  margin: 2vw 0 0 0;
  font-size: 2vw;
}
.section06-inner ul li::before {
  content: counter(li-counter, decimal-leading-zero);
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.section06-inner ul li:last-child {
  border-bottom: 0;
}

/*** 섹션06 끝 ***/
/*** 섹션07 시작 **/
.section07 {
  height: 1000vh;
  position: relative;
  background: #000;
}
.section07 .bg-circle {
  width: 100%;
  height: 100vh;
  position: sticky;
  top: 0;
  overflow: hidden;
}
.section07 .bg-circle span {
  width: 18vw;
  height: 18vw;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #487C20;
  border-radius: 50%;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.section07-inner {
  width: 200vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: sticky;
  top: 0;
}
.section07-inner .fake-margin {
  width: 100vw;
  height: 100vh;
}
.section07-inner .txt-wrap {
  height: 100vh;
  position: relative;
}
.section07-inner .txt-wrap h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  will-change: transform;
  margin-left: 100vw;
  white-space: nowrap;
  font-size: 20vw;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  color: #000;
  text-transform: uppercase;
  letter-spacing: -0.5vw;
}

/*** 섹션07 끝 ***/
.area03 {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  will-change: transform;
  background: #000;
}

/*** 섹션08 시작 ***/
.section08-inner {
  height: 100vh;
}
.section08-inner .txt-wrap {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}
.section08-inner .txt-wrap h1 {
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  font-size: 8.5vw;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: #eee;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: -0.3vw;
}
.section08-inner .txt-wrap p {
  font-size: 3vw;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: #487C20;
}
.section08-inner .info-ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.section08-inner .info-ul li h1 {
  font-size: 6vw;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: #eee;
}

/*** 섹션08 끝 ***/